{% extends "base_layout.html" %}
{% block content %}
{% include "base_menu.html" %}
<!-- Form ================================================== -->
<style>
	form#uploadForm div{
		min-height: auto;
	}
	.form-inline{
		display: block;
	}
	.col-md-12 {
		padding: 0 0.5em;
	}
	div.searchArea>div.ui-btn {
		background-color: #87CEFA;
	}
	fieldset.ui-grid-a > div.ui-block-a {
		width:20%
	}
	fieldset.ui-grid-a > div.ui-block-b {
		width:80%
	}
</style>
<script type="text/javascript">
function initializeContents(){
	$.fn.autoKana('#title', '#titleKana',{katakana:true});
}
</script>
<br>
<div class="form">
	<div class="container indexContent">
		<div class="row">
			<div class="col-md-12">
				<h4>ファイルアップロード画面</h4>
				<div class="error-message" style="color:red;min-height:auto;">
					{% if error_message %}
						{{ error_message }}
					{% endif %}
				</div>
				<div class="message" style="color:#000;min-height:auto;">
					{% if message %}
						{{ message }}
					{% endif %}
				</div>
				<form action="/update" method="post" class="form-inline" id="uploadForm" enctype='multipart/form-data' data-ajax="false">
					<fieldset class='ui-grid-a'>
						<div class="ui-block-a">タイトル</div><div class="ui-block-b"><input type="text" id="title" name="title" placeholder="タイトル" value="{%if name%}{{ name }}{% endif %}"/></div>
					</fieldset>
					<fieldset class='ui-grid-a'>
						<div class="ui-block-a">タイトル</div><div class="ui-block-b"><input type="text" id="titleKana" name="titleKana" placeholder="タイトルカナ" value="{%if nameKana%}{{ nameKana }}{% endif %}"/></div>
					</fieldset>
					<fieldset class='ui-grid-a'>
						<div class="ui-block-a">フォルダ名</div><div class="ui-block-b"><input type="text" id="floderName" name="folderName" placeholder="フォルダ名" value="{%if folderName%}{{ folderName }}{% endif %}" readonly="true"/></div>
					</fieldset>
					<fieldset class='ui-grid-a'>
						<div class="ui-block-a">カテゴリー</div><div class="ui-block-b"><input type="text" id="category" name="category" placeholder="カテゴリー" value="{%if category%}{{ category }}{% endif %}"/></div>
					</fieldset>
					<fieldset class='ui-grid-a'>
						<input type="submit" value="ファイルを送信"/>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
