{% extends "base_layout.html" %}
{% block content %}

<style >
h2.ui-bar{
	font-size: 13px;
	margin: 0.5em 0;
}
.listThumbnail{
	width:100px;
	height:145px;
}
div.indexContent, div.indexContent div {
	min-height: auto;
}

div.sumbnail div.ui-bar {
	font-size: 13px !important;
	padding: 0.3em 0.5em;
}

div.sumbnail div.ui-bar .ui-btn {
	margin: 0 auto;
}

.listTitle {
	font-weight: 400;
	font-size: x-small;
	white-space: normal;
	overflow: hidden;
	text-align: center;
	height:3em;
}
.listGenre {
	font-weight: 400;
	font-size: xx-small;
	max-height: 1em;
}

.listShowDate {
	font-weight: 400;
	font-size: xx-small;
}

.pageArea {
	margin-top: 10px;

}

#pageBack,#pageNext{
	height:80px;
	line-height: 80px;
	font-size: 21px;
}

</style>
<script type="text/javascript">
var page = 1;
var searchFlag = false;

var successCallBack = function(msg){
	documentElement.scrollTop=0;
	$(".indexContent").children("h2.ui-bar").remove();
	$(".indexContent").children("fieldset.ui-grid-a").remove();
	$(".indexContent").children("fieldset.ui-grid-solo").remove();

	var thumNailList = JSON.parse(msg.list);
	$.each(thumNailList, function( index, file){
		var $div = $("<div class='ui-bar'><span href='' class='ui-btn ui-btn-corner-all ui-shadow ui-btn-hover-c ui-btn-up-c' data-theme='c' style='width:100%'><span class='ui-btn-inner ui-btn-corner-all'><span class='ui-btn-text'><div><a target='_blank' href='/Viewer?page=" + file.folderName + "' class='ui-link'><div align='center' style='width:100%'><div class='listTmnArea'><img class='listThumbnail' src='/" + file.thumbnailPath + "' alt=''></div></div></a><div class='listTitle'><strong>" + file.name + "&nbsp;</strong></div><div class='listGenre'>" + file.category + "&nbsp;</div><span class='listShowDate'>" + file.updateDate + "&nbsp;</span></div></span></span></span></div>");
		var $divBlock;
		var $fieldset;
		if ( index%2 == 0) {
			$fieldset = $("<fieldset class='ui-grid-a'></fieldset>")
			$divBlock = $("<div class='sumbnail ui-block-a'></div>");
		} else {
			$fieldset = $(".indexContent fieldset:last");
			$divBlock = $("<div class='sumbnail ui-block-b'></div>");
		}
		$div.click(function(){
			var $link = $(this).find("a.ui-link");
			console.log("click "+$link.attr("href"));
			window.open($link.attr("href"), null);
//			window.location.href = $link.attr("href");
		});
		
		$divBlock.append($div);
		
		$fieldset.append($divBlock);
		$(".indexContent").append($fieldset);
		
		$fieldset.ready(hideLoading());
	});
	if (thumNailList.length < 1) {
		hideLoading();
		$fieldset = $("<fieldset class='ui-grid-solo'><div class='ui-block-a noData'>対象のデータがありません。</div></fieldset>");
		$(".indexContent").append($fieldset);
	}
	
	if (page >= msg.maxSize) {
		$("#pageNext").hide();
	}  else {
		$("#pageNext").show();
	}
	 if(page == 1) {
		$("#pageBack").hide();
	} else {
		$("#pageBack").show();
	}
};

var latestList = function(){
	showLoading();
	$.ajax({
		type: "POST",
		url: "/Latest/list",
		contentType: "application/json",
		data:'{"page":' + page + ', "pageSize":8}',
		dataType: "json",
		success: function(msg){
			successCallBack(msg);
			$h2 = $('<h2 class="ui-bar ui-bar-b">新着 - ' + page + 'ページ</h2>');
			$(".searchArea").after($h2);
		}
	});
};

var searchList = function(){
	showLoading();
	$.ajax({
		type: "POST",
		url: "/Search/list",
		contentType: "application/json",
		data:'{"page":' + page + ',"searchText":"'+$("#searchText").val()+'", "pageSize":8}',
		dataType: "json",
		success: function(msg){
			successCallBack(msg);
			$h2 = $('<h2 class="ui-bar ui-bar-b">検索 - ' + page + 'ページ</h2>');
			$(".searchArea").after($h2);
		}
	});
};

var pageChange = function(){
	if (searchFlag) {
		searchList();
	} else {
		latestList();
	}
};

var onKeyEvent = function(code)
{
	//エンターキー押下なら
	if(13 === code)
	{
		$("#searchButton").click();
	}
}

function initializeContents(){
	if (navigator.userAgent.toLowerCase().match(/webkit|msie 5/)) {
		// Webkit系（Safari, Chrome, iOS）、IE5はbody要素
		documentElement = document.body;
	} else {
		// IE（6以上）、Firefox、Operaはhtml要素
		documentElement = document.documentElement;
	}
	
	latestList();
	
	$("#searchButton").click(function(){
		page = 1;
		showLoading();
		searchList();
		searchFlag = true;
	});
	
	$("#pageBack").click(function(){
		page = page -1;
		if (page < 1) {
			page = 1;
		}
		pageChange();
	});
	$("#pageNext").click(function(){
		page = page +1;
		pageChange();
	});
}
</script>
<div id="headerArea" data-role="page">
	<div data-role="header"><h1>ネットWEBビューワー</h1></div>
	<div data-role="content">
		<div class="form">
			<div class="container indexContent">
				<div class="searchArea">
					<input type="text" id="searchText" placeholder="タイトル等" onkeypress="onKeyEvent(event.keyCode);"/>
					<input type="button" id="searchButton" value="検索"/>
				</div>
			</div>
			<div class="pageArea">
				<fieldset class="ui-grid-a">
					<div class="sumbnail back ui-block-a ui-btn ui-btn-corner-all ui-shadow ui-btn-hover-c ui-btn-up-c" id="pageBack">戻る</div>
					<div class="sumbnail next ui-block-b ui-btn ui-btn-corner-all ui-shadow ui-btn-hover-c ui-btn-up-c" id="pageNext">次へ</div>
				</fieldset>
			</div>
		</div>
	</div>
	<div data-role="footer">&copy; jdragon.com</div>
</div>
{% endblock %}
