{% extends "base_layout.html" %}
{% block content %}
<!-- Form ================================================== -->
<style>
	form#uploadForm div{
		min-height: auto;
	}
	.form-inline{
		display: block;
	}
	.col-md-12 {
		padding: 0 0.5em;
	}
	.ui-btn input{
		background-color: #000066;
	}
	div.searchArea>div.ui-btn {
		background-color: #87CEFA;
	}
</style>
<script type="text/javascript">
$(function(){
	$.fn.autoKana('#title', '#titleKana',{katakana:true});
	$("#upload").click(function(){
		window.location.href="/inputFile"
	});
	$("#list").click(function(){
		window.location.href="/list"
	});
});
</script>
<div class="form">
	<div class="container indexContent">
		<div class="row">
			<div class="col-md-12">
				<h4>管理画面</h4>
				<div class="error-message" style="color:red;min-height:auto;">
					{% if error_message %}
						{{ error_message }}
					{% endif %}
				</div>
				<form action="/upload" method="post" class="form-inline" id="uploadForm" enctype='multipart/form-data' data-ajax="false">
					<fieldset class='ui-grid-a'>
						<input type="button" id="upload" name="upload"/>
					</fieldset>
					<fieldset class='ui-grid-a'>
						<input type="button" id="list" name="list"/>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
