{% extends "base_layout.html" %}
{% block content %}

<script type="text/javascript">
$(function(){
var mySwiper;
var minHeight = 667;
	$.ajax({
		type: "POST",
		url: "/Viewer/list",
		data:'{"page":"{{page}}"}',
		contentType: "application/json",
		dataType: "json",
		success: function(msg){
			msg.sort(function(a,b){
				return a.fileName < b.fileName ? 1 : -1
			});
			
			var height = window.innerHeight;
			$.each(msg,function( index, file){
				var $div = $("<div class='swiper-slide' style='position:relative;'></div>");
				var $image = $("<image src='/static/images/{{page}}/" + file.fileName + "'style='position:relative;'>");
				var rate = file.width / window.innerWidth;
				var top = (height - file.height/rate)/2;
				if (top < 0) {
					top = 0;
					rate = file.height / height;
					$image.css('top',top+'px');
					$image.css('width',file.width/rate+'px');
					$image.css('height',height+'px');
				} else {
					$image.css('top',top+'px');
					$image.css('width',window.innerWidth+'px');
					$image.css('height',file.height/rate+'px');
				}
				$div.append($image);
				$(".swiper-wrapper").append($div);
				
				$(".container.viewer").height(height);
				$(".container.viewer").css("height",height+'px');
				
			});
			mySwiper = $('.swiper-container').swiper({
				loop:true,
				calculateHeight:true,
				touchRatio:2,
				scrollbar:".swiper-scrollbar",
				scrollbarHide:true,
				scrollbarDraggable:true,
				scrollbarSnapOnRelease:true,
				nested:true,
				initialSlide:msg.length-1
			});
		}
	});
});
</script>

<div class="container viewer">
	<div class="row">
		<div class="col-md-12">
			<div class="swiper-container">
				<div class="swiper-wrapper">
				</div>
				<div class="swiper-scrollbar" style="min-height:20px;height:20px;"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
